body{
font-family: Arial;
background: #f4f6f9;
margin:0;
padding:0;
}

.container{
width:70%;
margin:auto;
margin-top:40px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

h1{
text-align:center;
color:#333;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:1px solid gray;
}

button{
background:#007bff;
color:white;
padding:10px;
border:none;
border-radius:5px;
width:100%;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

.result{
margin-top:20px;
padding:15px;
background:#e9f5ff;
border-radius:5px;
}